<div class="card bg-dark text-white">
  <img class="card-img" src="assets/images/fondo.jpg" alt="Card image cap" height="250">
  <div class="card-img-overlay">
    <h1 class="card-title">CURSOS VIRTUALES</h1>
    <p class="card-text">Desde esta plataforma podra acceder a varios curso virtuales.</p>
    <p class="card-text">Bienvenido</p>
    <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/curso/form']">Añadir Curso</button>
    <span class="glyphicon glyphicon-align-left"></span>
  </div>
</div>
<div class="container-fluid ">
  <div class="row row-cols-4">
    <div *ngFor="let curso of cursos" class="card bg-dark text-white" style="width: 20rem;">
      <div class="card-body">
        <h3 class="card-title mb-2">{{ curso.nombre}}</h3>
        <p class="card-text">{{ curso.descripcion}}</p>
        <div class="row">
          <div class="bg dark">
            <div class=" p-1">
              <a class=" btn btn-primary btn-sm" type="button" name="inscribir">Inscribir</a>
            </div>
          </div>
          <div class="bg-dark">
            <div class="p-1">
              <a class="btn btn-danger btn-sm" type="button" name="eliminar">Eliminar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
